ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.links {
  color: skyblue;
  text-decoration: none;
}

.links:focus {
  color: red;
  text-decoration: underline;
}

.links:active {
  color: #fff;
  background-color: #000;
  text-decoration: underline;
}
